streamlit
langchain
langchain-google-genai
python-dotenv
faiss-cpu  # Ensure FAISS is installed for CPU
google-generativeai # Ensure compatibility with the Google Generative AI API
langchain-community # Ensure compatibility with the community modules
fitz
PyMuPDF
